<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="HibernateUtilities">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">rev2102password</property>
  <property name="hibernate.connection.url">jdbc:postgresql://rev2102.cncizezosbtp.us-east-2.rds.amazonaws.com:5432/postgres</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.default_schema">project1</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="show_sql">true</property>
<property name="hibernate.format_sql">true</property>
<property name="use_sql_comments">true</property>
  
  <mapping class="com.revature.models.AdditionalDetailsMessage"></mapping>
  <mapping class="com.revature.models.Genre"></mapping>
  <mapping class="com.revature.models.GenreCommittee"></mapping>
  <mapping class="com.revature.models.Person"></mapping>
  <mapping class="com.revature.models.Priority"></mapping>
  <mapping class="com.revature.models.StoryApprovalHistory"></mapping>
  <mapping class="com.revature.models.StoryArtifact"></mapping>
  <mapping class="com.revature.models.StoryDraft"></mapping>
  <mapping class="com.revature.models.StoryPitch"></mapping>
  <mapping class="com.revature.models.StoryPitchStatus"></mapping>
  <mapping class="com.revature.models.StoryType"></mapping>
 </session-factory>
</hibernate-configuration>
